{% extends "base.html" %}
{% block main %}
    <h2>О нас</h2>
                    
    <!-- Основная информация о компании -->
    <p>
        Мы — ведущий ритейлер в сфере косметики и парфюмерии, предлагающий нашим клиентам широкий выбор продукции мировых брендов и уникальные предложения. Наша миссия — предоставить клиентам первоклассные продукты и услуги, создавая пространство, где красота, стиль и забота о себе становятся доступными каждому.
    </p>

    <!-- Наша история -->
    <h3>Наша история</h3>
    <p>
        Компания была основана в 1997 году и начала свой путь как небольшой магазин. Постепенно мы стали лидером на рынке косметики и парфюмерии, насчитывающим более 1000 магазинов по всей стране. Мы не останавливаемся на достигнутом и продолжаем расти, внедряя инновации и предлагая эксклюзивные продукты для наших клиентов.
    </p>

    <!-- Миссия и ценности -->
    <h3>Миссия и ценности</h3>
    <ul>
        <li><strong>Качество:</strong> Мы выбираем для вас только лучшие косметические бренды и тщательно следим за качеством продукции.</li>
        <li><strong>Доверие:</strong> Мы строим доверительные отношения с клиентами, всегда готовы проконсультировать и помочь с выбором.</li>
        <li><strong>Инновации:</strong> Внедряем новейшие технологии в обслуживание и предлагаем эксклюзивные косметические новинки.</li>
    </ul>

    <!-- Команда -->
    <h3>Наша команда</h3>
    <p>
        Наша команда — это более 15,000 профессионалов, включая бьюти-консультантов, визажистов и стилистов, которые готовы помочь вам найти идеальные продукты. Мы гордимся тем, что в нашей компании работают эксперты, которые знают все о мире красоты и моды.
    </p>

    <!-- Преимущества работы с нами -->
    <h3>Почему выбирают нас?</h3>
    <ol>
        <li>Широкий ассортимент премиальной косметики и парфюмерии.</li>
        <li>Высококвалифицированные консультанты и профессиональная поддержка.</li>
        <li>Уникальные предложения и программы лояльности для постоянных клиентов.</li>
    </ol>

    <!-- Изображение компании -->
    <h3>Наш офис и магазины</h3>
    <p>
        Наши магазины — это стильные и современные пространства, где каждый может ощутить атмосферу красоты и роскоши. Посетите нас и насладитесь уникальным опытом шопинга.
    </p>
    <img style="width: 85%;
    height: auto;" src="https://avatars.mds.yandex.net/get-altay/481843/2a000001623134004326a3822722579a62f0/XXL_height" alt="Фото одного из наших магазинов" style="width:100%; max-width:600px; display:block; margin:auto;">

    <!-- Заключение -->
    <p>
        Мы стремимся создавать идеальные условия для покупки косметики и парфюмерии. Если у вас есть вопросы или пожелания, пожалуйста, свяжитесь с нами. Мы всегда рады вам помочь!
    </p>
{% endblock %}