{% extends "base.html" %}
{% block main %}

<h2>Наша команда</h2>

<p>
    В Лэтуаль мы уверены, что наши сотрудники — это наше главное богатство. Наша команда состоит из настоящих
    профессионалов в области красоты и ухода за собой, которые готовы помочь вам найти лучшие продукты и
    поделиться своими знаниями. Знакомьтесь с нашей командой экспертов!
</p>

<div class="employee-list">
    
    <!-- Сотрудник 1 -->
    <div class="employee-card">
        <img src="https://i.pinimg.com/736x/f7/42/6a/f7426ae005cf37a3048d475dcc5452aa.jpg" alt="Фотография Анны Ковалевой">
        <h3>Анна Ковалева</h3>
        <p><strong>Должность:</strong> Косметолог-эксперт</p>
        <p><strong>Опыт работы:</strong> 8 лет</p>
        <p><strong>О себе:</strong> Анна — специалист по уходу за кожей, имеет глубокие знания о косметических ингредиентах
            и их действии. Она помогает клиентам подобрать идеальные средства для их типа кожи и образа жизни.</p>
    </div>

    <!-- Сотрудник 2 -->
    <div class="employee-card">
        <img src="https://i.pinimg.com/474x/c7/ab/31/c7ab3150341fee46c3682645b89597e6.jpg" alt="Фотография Дмитрия Баранова">
        <h3>Варвара Зайцева</h3>
        <p><strong>Должность:</strong> Ведущий парфюмер</p>
        <p><strong>Опыт работы:</strong> 10 лет</p>
        <p><strong>О себе:</strong> Варвара — эксперт в области парфюмерии, который создает уникальные ароматы и
            помогает клиентам выбрать идеальные парфюмы, соответствующие их стилю и настроению.</p>
    </div>

    <!-- Сотрудник 3 -->
    <div class="employee-card">
        <img src="https://i.pinimg.com/474x/bf/df/96/bfdf96f5a048750aef5436cfb3c67ac5.jpg" alt="Фотография Ольги Сергеевой">
        <h3>Ольга Сергеева</h3>
        <p><strong>Должность:</strong> Менеджер по продуктам</p>
        <p><strong>Опыт работы:</strong> 7 лет</p>
        <p><strong>О себе:</strong> Ольга отвечает за выбор и закупку новых продуктов для наших магазинов,
            сотрудничая с ведущими брендами. Она всегда в курсе последних трендов и новинок в мире красоты.</p>
    </div>

    <!-- Сотрудник 4 -->
    <div class="employee-card">
        <img src="https://i.pinimg.com/474x/23/f5/c8/23f5c8b987afefb2fa79432ffc54d15e.jpg" alt="Фотография Александра Васильева">
        <h3>Елена Антонова</h3>
        <p><strong>Должность:</strong> Специалист по обучению</p>
        <p><strong>Опыт работы:</strong> 5 лет</p>
        <p><strong>О себе:</strong> Елена обучает наших сотрудников и клиентов правильному использованию
            косметических средств и техникам макияжа, проводя мастер-классы и обучающие сессии.</p>
    </div>

    <!-- Сотрудник 20 -->
    <div class="employee-card">
        <img src="https://i.pinimg.com/474x/fd/9d/ae/fd9daeb1387a7a661c00df0aa0b002a6.jpg" alt="Фотография Виктора Никитина">
        <h3>Ирина Соколова</h3>
        <p><strong>Должность:</strong> Директор по качеству</p>
        <p><strong>Опыт работы:</strong> 12 лет</p>
        <p><strong>О себе:</strong> Ирина отвечает за соблюдение стандартов качества на всех этапах работы
            компании, контролируя продукцию и процессы. Он обеспечивает высочайшее качество товаров, предлагаемых
            нашим клиентам.</p>
    </div>

</div>



{% endblock %}
